#contact {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }
  .form {
    display: flex; 
margin-left: auto;
margin-right: auto; 
font-size: 1.5rem;
line-height: 2rem; 
flex-direction: column; 
max-width: 56rem; 
gap: 1rem; 

.input {
  padding: 0.75rem; 
color: #000000; 
font-size: 1.5rem;
line-height: 2rem; 
width: 100%; 
border-radius: 0.75rem; 
border-width: 1px; 
border-style: solid; 

@media (min-width: 640px) { 
  font-size: 1.875rem;
line-height: 2.25rem; 
 }
}


@media (min-width: 640px) { 
  font-size: 1.875rem;
line-height: 2.25rem; 
 }





  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
